
<a href="https://colab.research.google.com/github/Argentan/DMA_LAB2/blob/master/tutoriales/03_manejo_de_datos-pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas 2

### Agrupaciones

Las agrupaciones sirven para hacer cálculos sobre subconjuntos de los datos, generalmente tienen tres partes:

1. Definir los grupos
2. Aplicar un cálculo
3. Combinar los resultados

In [4]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv("../data/titanic.csv", index_col="PassengerId")
data['NumFam'] = data[['SibSp', 'Parch']].sum(axis=1)
agrupado = data.groupby(["Pclass", "Sex"])
agrupado

In [2]:
agrupado.Survived.mean()

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [11]:
agrupado.Survived.agg(
    media="mean",
    media_2= np.mean,
    varianza= "var",
    cantidad= "count",
    cant2= len
)

                  media   media_2  varianza  cantidad  cant2
Pclass Sex
1      female  0.968085  0.968085  0.031229        94     94
       male    0.368852  0.368852  0.234724       122    122
2      female  0.921053  0.921053  0.073684        76     76
       male    0.157407  0.157407  0.133870       108    108
3      female  0.500000  0.500000  0.251748       144    144
       male    0.135447  0.135447  0.117439       347    347

In [15]:
data.groupby("Survived")[['Age', 'SibSp', 'Parch', 'NumFam', 'Fare']].mean()

                Age     SibSp     Parch    NumFam       Fare
Survived
0         30.626179  0.553734  0.329690  0.883424  22.117887
1         28.343690  0.473684  0.464912  0.938596  48.395408

## Tablas de contingencia

Las tablas de contingencia asemejan las tablas dinámicas de excel, sirven apra ver inteacciones entre variables

In [19]:
pd.crosstab(data.Age.isnull(), data.Survived)

Survived    0    1
Age
False     424  290
True      125   52

In [20]:
pd.crosstab(data.Age.isnull(), data.Survived).apply(lambda x: x/x.sum(), axis=1)

Survived         0         1
Age
False     0.593838  0.406162
True      0.706215  0.293785

In [22]:
pd.crosstab(data.Pclass, data.Survived, values=data.Fare, aggfunc=np.mean)

Survived          0          1
Pclass
1         64.684008  95.608029
2         19.412328  22.055700
3         13.669364  13.694887

In [23]:
pd.crosstab(pd.qcut(data.Age, 10), data.Sex, values=data.Survived, aggfunc=np.mean)

Sex              female      male
Age
(0.419, 14.0]  0.631579  0.538462
(14.0, 19.0]   0.783784  0.100000
(19.0, 22.0]   0.666667  0.108696
(22.0, 25.0]   0.769231  0.136364
(25.0, 28.0]   0.722222  0.255814
(28.0, 31.8]   0.730769  0.175000
(31.8, 36.0]   0.965517  0.258065
(36.0, 41.0]   0.681818  0.129032
(41.0, 50.0]   0.703704  0.235294
(50.0, 80.0]   0.941176  0.127660

In [25]:
pd.crosstab(pd.cut(data.Age, range(0, 100, 10)), data.Sex, values=data.Survived, aggfunc=np.mean)

Sex         female      male
Age
(0, 10]   0.612903  0.575758
(10, 20]  0.739130  0.144928
(20, 30]  0.753086  0.154362
(30, 40]  0.836364  0.230000
(40, 50]  0.677419  0.218182
(50, 60]  0.928571  0.142857
(60, 70]  1.000000  0.071429
(70, 80]       NaN  0.200000